.App {
  text-align: center;
  background-color: #E5E5E5;
}

h1 {
  text-align: center; 
}

img {
  display: inline-block;
}

p {
  font-size: 18px;
  line-height: 24px;
  line-height: 100%;
  width: 50%;
  text-align: justify;
  padding-left: 20px;
  display: inline-block;
}

.App-header {
  background-color: #282c34;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(2px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
